/* body{
    font-size: larger;
    border:10px solid blue;
}

h1, h2  {
    color: rgb(3, 0, 6);
    text-decoration: underline;
}

h3 {
    color: brown;
    font-weight: 400;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
     
}

h3 span{
    text-transform: uppercase;
    background: chartreuse;
}

.second {
    /* this is the use of class by . */
    /* color: rgb(67, 4, 156);
    
}

#third {
    /* this is the use of id by # */
    /* color: green;
} *



/* colors  */


/* h3{
    color: red;
} */


